@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

body {
  background-image: url('../../images/backsea.jpg');
  background-repeat: no-repeat;
  background-size: 100% contain;
}

/* BOX LOGIN */
.box{
	position: relative;
	margin: 150px auto;
  max-width: 380px;
  width: 100% !important;
	color:#666;
	border-radius: 3px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  opacity: 0.7;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.box:hover{
  color:#666;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #fff;
opacity: 1.0;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}


.box h1{
  margin-left: 40px;
  padding-bottom: 30px;
	font-size:25px;
  font-weight: 300;
  color: #8b5f5f;
}

.box button{
	background: #ba4c4c;
	border:0;
	color: #e0baba;
	padding:10px;
	font-size: 16px;
  font-weight: 300;
	width:330px;
	margin:20px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

.box button:active{
	background: #009688;
  color: #263238;
}

.box button:hover{
		background: #B22222;
  color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.box p{
	font-size:14px;
	text-align:center;
}

.group 			  {
  position:relative;
  margin-bottom: 35px;
  margin-left: 40px;
}

.inputMaterial 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.inputMaterial:focus 		{ outline:none;}

/* LABEL ======================================= */

label 				 {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: #960000;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:315px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: #960000;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#footer-box{
  width: 100%;
  height: 50px;
  background: #00695c;
  position: absolute;
  bottom: 0;
}

.footer-text{
  color: #cfd8dc;

}

.sign-up{
  color: white;
  cursor: pointer;
}

.sign-up:hover{
   color: #b2dfdb;
}
